-
	var recentlyViewedBooks = [
		{
			name: "Элизабет",
			author: "Кеган О.",
			img: `${pathContentImg}book-normal-peoples.jpg`,
			description: "Реальная история сильной женщины покорившей весь мир своей харизмой",
			star: "4.7",
			pages: "288",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Апельсиновый закат",
			author: "Рид Ч.",
			img: `${pathContentImg}book-kingdoms.jpg`,
			description: "История о небольшом японском городке, затерянном в лучах яркого солнца",
			star: "4.8",
			pages: "576",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Чёрный воробей",
			author: "Боуи А.",
			img: `${pathContentImg}books-anxious-people.jpg`,
			description: "Загадочный детектив с продуманным сюжетом и неожиданным финалом",
			star: "5.0",
			pages: "416",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Белый воротник",
			author: "Фёрт А.",
			img: `${pathContentImg}a-life-of-pleasure.jpg`,
			description: "Автор собрал в книге все свои знания о мужском стиле. Как всегда выглядеть «‎с иголочки»",
			star: "3.5",
			pages: "208",
			link: "#",
			width: "275",
			height: "320"
		},
	];
