include reviews-book-data

section.reviews
	.container
		h2.reviews__title.section__title Рецензии
		ul.reviews__list
			each review in reviewsBook
				li.reviews__item
					.reviews__wrapper
						.reviews__info
							.reviews__box-images
								img.reviews__img(src= review.img alt="Фото автора отзыва" width="80" height="80")
							.reviews__box
								h3.reviews__name= review.name
								p.reviews__counte= review.count
						p.reviews__reviewe= review.review

