-
	var reviews = [
		{
			name: "Кирилл Агапьев",
			img: `${pathContentImg}review-1.jpg`,
			review: "Огромный ассортимент разных книг, которых нет в магазинах нашего города. Цены зачастую гораздо ниже магазинских, так плюс к этому ещё и постоянные большие скидки!",
			count: "Купил 35 книг",
		},
		{
			name: "Елизавета Марьина",
			img: `${pathContentImg}review-2.jpg`,
			review: "Удобная навигация, большой выбор, книги в подарок при определенной сумме заказа. Заказ собирают без ошибок, привозят без задержек",
			count: "Купила 76 книг",
		},
		{
			name: "Полина Аленичева",
			img: `${pathContentImg}review-3.jpg`,
			review: "Удобный каталог, полезные отзывы на книги, так же есть видеообзоры на книги. Иногда можно приобрести дорогое издание за «символическую» цену.",
			count: "Купила 35 книг",
		},
	]
