section.book
	.container
		.book__wrapper
			.book__picture
				img.book__img(src="static/images/content/iron-king-head.jpg" width="485" height="550" alt="Обложка книги - Фигурная абстракция")
			.book__inner
				include book-top
				include book-description
