.book__description
	.book__information
		h2.book__heading Информация
		ul.book__info-list
			li.book__info-item
				span.book__term Код товара
				span.book__def 123187432
			li.book__info-item
				span.book__term Издательство
				span.book__def Арт-презент
			li.book__info-item
				span.book__term Серия
				span.book__def Искусство
			li.book__info-item
				span.book__term Год издания
				span.book__def 2021
			li.book__info-item
				span.book__term Переводчик
				span.book__def Панов А.
			li.book__info-item
				span.book__term Кол-во страниц
				span.book__def 416
			li.book__info-item
				span.book__term Тип обложки
				span.book__def Твердая
			li.book__info-item
				span.book__term Вес, г
				span.book__def 370
			li.book__info-item
				span.book__term Возрастные ограничения
				span.book__def 12+
	.book__annotation
		h2.book__heading Аннотация
		p.book__text «‎Фигурная абстракция» — это исследование визуальной эстетики и творческого процесса захватывающего мира фигурной абстракции. Автор, опытный дизайнер и художник, рассматривает использование абстрактных форм и линий в различных видах искусства и дизайна. Книга освещает важность формы и линии в дизайне и искусстве, а также рассматривает влияние фигурной абстракции на современный мир. Она содержит множество примеров работ, которые демонстрируют, как абстрактные формы могут быть использованы для создания мощных визуальных образов и коммуникации идей.
