include book-data

.book__description
	.book__information
		h2.book__heading Информация
		ul.book__info-list
			each info in book.info
				li.book__info-item
					span.book__term= info.term
					span.book__def= info.def
	.book__annotation
		h2.book__heading Аннотация
		p.book__text= book.annotation
