include book-data

section.book
	.container
		.book__wrapper
			.book__picture
				img.book__img(src= book.img width= book.width height= book.height alt= `Обложка книги - "${book.name}"`)
			.book__inner
				include book-top
				include book-description
