.catalog-filter
	form.catalog-filter__form
		fieldset.catalog-filter__fieldset
			p.catalog-filter__legend Категория
			.catalog-filter__box
				input.catalog-filter__checkbox#fiction(type="checkbox" name="fiction")
				label.catalog-filter__label(for="fiction") Художественная литература
			.catalog-filter__box
				input.catalog-filter__checkbox#for-children(type="checkbox" name="for-children")
				label.catalog-filter__label(for="for-children") Книги для детей
			.catalog-filter__box
				input.catalog-filter__checkbox#education(type="checkbox" name="education" checked)
				label.catalog-filter__label(for="education") Образование
			.catalog-filter__box
				input.catalog-filter__checkbox#science-and-technology(type="checkbox" name="science-and-technology")
				label.catalog-filter__label(for="science-and-technology") Наука и техника
			.catalog-filter__box
				input.catalog-filter__checkbox#society(type="checkbox" name="society")
				label.catalog-filter__label(for="society") Общество
			.catalog-filter__box
				input.catalog-filter__checkbox#business-literature(type="checkbox" name="business-literature")
				label.catalog-filter__label(for="business-literature") Деловая литература
			.catalog-filter__box
				input.catalog-filter__checkbox#health(type="checkbox" name="health")
				label.catalog-filter__label(for="health") Здоровье
			.catalog-filter__box
				input.catalog-filter__checkbox#hobby(type="checkbox" name="hobby")
				label.catalog-filter__label(for="hobby") Увлечения
			.catalog-filter__box
				input.catalog-filter__checkbox#fipsychologyction(type="checkbox" name="psychology")
				label.catalog-filter__label(for="psychology") Психология
			.catalog-filter__box
				input.catalog-filter__checkbox#esoterics(type="checkbox" name="esoterics")
				label.catalog-filter__label(for="esoterics") Эзотерика
			.catalog-filter__box
				input.catalog-filter__checkbox#philosophy(type="checkbox" name="philosophy")
				label.catalog-filter__label(for="philosophy") Философия и религия
			.catalog-filter__box
				input.catalog-filter__checkbox#art(type="checkbox" name="art")
				label.catalog-filter__label(for="art") Искусство
		fieldset.catalog-filter__fieldset
			p.catalog-filter__legend Статус
			.catalog-filter__box.catalog-filter__box--radio
				input.catalog-filter__radio#bestsellers(type="radio" name="status" value="bestsellers")
				label.catalog-filter__label(for="bestsellers") Хиты продаж
			.catalog-filter__box.catalog-filter__box--radio
				input.catalog-filter__radio#news-books(type="radio" name="status" value="news-books" checked)
				label.catalog-filter__label(for="news-books") Новинки
			.catalog-filter__box.catalog-filter__box--radio
				input.catalog-filter__radio#preorder(type="radio" name="status" value="preorder")
				label.catalog-filter__label(for="preorder") Предзаказ
		fieldset.catalog-filter__fieldset
			p.catalog-filter__legend Наличие
			.catalog-filter__box.catalog-filter__box--radio
				input.catalog-filter__radio#in-the-shop(type="radio" name="availability" value="in-the-shop")
				label.catalog-filter__label(for="in-the-shop") В магазине
			.catalog-filter__box.catalog-filter__box--radio
				input.catalog-filter__radio#in-the-internet-shop(type="radio" name="availability" value="in-the-internet-shop" checked)
				label.catalog-filter__label(for="in-the-internet-shop") В интернет-магазине
			.catalog-filter__box.catalog-filter__box--radio
				input.catalog-filter__radio#under-the-order(type="radio" name="availability" value="under-the-order")
				label.catalog-filter__label(for="under-the-order") Под заказ
