-
	var bestBooks = [
		{
			name: "Чёрный воробей",
			author: "Боуи А.",
			img: `${pathContentImg}books-anxious-people.jpg`,
			description: "Загадочный детектив с продуманным сюжетом и неожиданным финалом",
			star: "5.0",
			pages: "416",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Путь к вершине",
			author: "Агава Ю.",
			img: `${pathContentImg}book-sapiens.jpg`,
			description: "Путешествие длиною в жизнь. Как найти верный путь, если кажется, что все безнадёжно",
			star: "4.9",
			pages: "520",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Золотая арка",
			author: "Холтер К.",
			img: `${pathContentImg}book-institute.jpg`,
			description: "Мировой психологический бестселлер. Как найти себя в обществе",
			star: "4.8",
			pages: "608",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Элизабет",
			author: "Кеган О.",
			img: `${pathContentImg}book-normal-peoples.jpg`,
			description: "Реальная история сильной женщины покорившей весь мир своей харизмой",
			star: "4.7",
			pages: "288",
			link: "#",
			width: "275",
			height: "320"
		},
	];
